---
---

// add bootstrap variable settings here

@import './_bootstrap';
@import url("http://fonts.googleapis.com/css?family=Roboto:500,300");


// add more css stuff here

html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 50px;
  font-family: "Roboto", Helvetica, sans-serif;
  color: #555f66;
	font-size: 14pt;
	font-weight: 300;
	line-height: 1.75em;
  margin-bottom: 60px;
}

.active {
  color: #666f77;
  font-weight: 500;
}

.content {
  padding: 40px 15px;
}

.navbar {
  background-color: white;
}

.navbar.bottom-border {
  border-bottom: 1px solid black;
}

section {
  margin-bottom: 30px;
}

h2 {
  font-size: 20px;
}

.blue {
 color: #337ab7;
}

.grey-border {
  border: 2px solid lightgrey;
}

.bigger-icon {
  font-size: 2em;
}

.text-justify {
  text-align: justify;
}

@media (min-width: 1200px) {
  .container {
    width: 1000px;
  }
}

@media (min-width: 1200px) {
  .container-wide {
    width: 1300px;
  }
}

.posts li {
  font-size: 14px;
}

.en:lang(en), .nl:lang(nl){
    font-weight: bold;
}

.lang-select {
  color: #FFD200;
}

.lang-select:hover {
  color: #FFD200;
}

footer {
  border-top: 1px solid #337ab7;
  padding-top: 10px;
  height: 50px;
  width: 100%;
  position: absolute;
  bottom: 0;
}

footer .container {
  clear: both;
}

.post-nav {
  position: fixed;
  padding-left: 20px;
}

@media screen and (max-width: 990px) {
    nav {
      font-size: 15px;
    }
    .news-posts {
      font-size: 15px;
    }
}

@media screen and (max-width: 767px) {
    .post-nav {
        position: relative;
        width: 100%;
    }
}
