html {
  background: #f0f0f0 url(../images/extra_clean_paper.png);
  @include media-query($content-width) {
    background-image: none; // save bandwidth on smaller screens
  }
}

body {
  font: #{$base-font-size}/#{$base-line-height} $base-font-family;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal;

  color: $text-color;
  background: white;
  box-shadow: 0 0 60px #666666;
}

a {
  color: $accent-color;
  font-weight: bold;
  text-decoration: none;
  transition: color .1s;

  &:hover {
    color: $highlight-color;
  }

  main & {
    border-bottom: 1px dotted;
  }
}

p {
  margin: 1em 0;
}

h1 {
  font-size: 2.5em;
  line-height: 1.1em;
  margin: 0 0 .3em;
  color: #fbba00;

  article & {
    margin: 0;
  }
}

h2 {
  color: $accent-color;
  margin: 1em 0 .25em;
  font-size: 1.5em;
  font-weight: bold;
}

h1, h2 {
  + * {
    margin-top: 0 !important;
  }
}

p.meta {
  color: $dim-color;
  margin-top: .5em;
}

img {
  max-width: 100%;
}

figure {
  display: inline-block;
  box-shadow: 3px 3px 6px #999999;
  border: 2px solid gray;
  margin: 0 0 .5em;
}
figcaption {
  padding: 0 1em .5em;
  font-size: .8em;
}

main ul {
  margin: 1em 0;

  li {
    &:before {
      padding-right:0.5em;
      content:'▪';
      color: $accent-color;
    }
  }
}

nav {
  font-size: 1.2em;
  background: white;
}

footer {
  color: white;
  background: $accent-color;
  font-size: .8em;
  padding: 1px $gutter;
  margin: 2em 0 0;

  a {
    color: white;
    font-weight: normal;
  }
}

@include media-query($on-mobile) {
  body {
    font-size: 12pt !important;
    line-height: 1.5em !important;
  }

  h1, header p {
    font-size: 1.5em !important;
  }
}

.posts {
  .date {
    margin-left: 1em;
  }
  .prev {
    float: left;
  }
  .next {
    float: right;
  }
  @extend .clearfix;
}

.person {
  margin: 2em 0 3em;
  clear: both;

  img {
    border-radius: 50%;
    height: 6em;
    float: left;
    margin: -1em 1em 1em 0;
    border: 5px solid $highlight-color;
  }

  p {
    margin: 0;
    line-height: 1.4em;
  }

  .name {
    font-weight: bold;
  }

  .faculty {
    font-style: italic;
  }

  .email {
    margin-left: 1em;
    font-style: italic;
    font-weight: normal;
  }
  .homeh1{
    font-size: 1.5em;
<<<<<<< HEAD
    line-height: 1.1em;
    margin: 0 0 .3em;
    color: #fbba00;
  }
=======
}
  
>>>>>>> 7221d89d035b57d87cc61e14d04176ff517f065c
}
